body {
    margin: 0;
    font-family: 'Abel', sans-serif;
    background-color: #F5F5F5F5;
}


header {
    display: flex;
}

.logo {
    width: 1000px;

}

.logo h1 {
    font-size: 50px;
    margin-left: 60px;
}


nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    width: 100%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}


nav li {
    margin-left: 10px;
    display: inline;
    margin-right: 80px;

}

nav a {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin-right: 20px;
}

nav li:hover {
    transform: scale(1.2, 1.2);
    transition: 2s;
}

nav li::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -5px;
    /* Ajusta la posición de la barra debajo del texto del <li> */
    left: 50%;
    /* Alinea la barra al centro del elemento <a> */
    width: 0;
    height: 3px;
    /* Define el grosor de la barra */
    background-color: black;
    transition: width 0.5s ease-in-out, left 0.5s ease-in-out;
    /* Agregamos una transición animada */
    transform: translateX(-50%);
    /* Centra la barra horizontalmente */
}

nav li:hover::after {
    width: 80%;
    /* La barra se extiende hasta los bordes */
    left: 0;
    /* La barra comienza desde el borde izquierdo */
    transform: translateX(0%);
    /* Desactiva la transformación de desplazamiento horizontal */
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
    /* Ajusta la compensación para el encabezado fijo */
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
}

hr {
    border-color: black;
}


#home {
    display: flex;
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.izquierda {
    margin-bottom: 0;
    width: 50%;
    height: 400px;
    background-image: url(../Imagenes/Logo-Codigo.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    animation: fadeInLeft 1.3s ease-in-out;
}


@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.derecha {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeInRight 1s ease-in-out;
}


.derecha p {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}





@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

#sobre-mi h1 {
    font-size: 2em;
    animation: fadeInLeft 1s ease-in-out;
}

#sobre-mi p {
    font-size: 1.2em;
    animation: fadeInRight 1s ease-in-out;
}

#sobre-mi {
    text-align: center;
}




#skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#skills h1 {
    font-size: 2em;
    animation: fadeInLeft 1s ease-in-out;
}


#skills ul {
    font-size: 1.2em;
    animation: fadeInRight 1s ease-in-out;
}

#skills p {
    font-size: 1.2em;
    animation: fadeInRight 1s ease-in-out;
}


@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

#portafolio {
    text-align: center;
}

#portafolio h1 {
    font-size: 2em;
    animation: fadeInLeft 1s ease-in-out;
}

#portafolio p {
    font-size: 1.2em;
    animation: fadeInRight 1s ease-in-out;
    max-width: 800px;
    /* Ancho máximo ajustable */
    margin: 0 auto;
    /* Margen automático para centrar horizontalmente */
}





#imag {

    margin-top: 50px;
    display: flex;
    width: 600px;
    height: 430px;

    position: relative;
    left: 19%;

}

#imag a {
    width: 0;
    flex-grow: 1;
    object-fit: cover;

    transition: .5s ease;
    filter: brightness(30%);
    /* Añadido filtro de brillo */

}

#imag a:hover {
    width: 300px;
    filter: brightness(100%);
    /* Cambiado el filtro al hacer hover */
}

#imag a img {
    width: 380px;
    height: 350px;
}



#contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#contacto h1{
    font-size: 2em;
    animation: fadeInLeft 1s ease-in-out;
}

#contacto p{
    font-size: 1.2em;
    animation: fadeInRight 1s ease-in-out;
}


.logos {
    margin: 30px; /* Ajusta el espaciado entre los logotipos */
    width: 50px; /* Ajusta el ancho de los logotipos */
    height: 50px; /* Ajusta el alto de los logotipos */
    transition: transform 1s; /* Establece la duración de la transición en el estilo normal */
}

.logos:hover {
    transform: scale(1.5, 1.5);
}

